[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = {extras = ["argon2"], version = "*"}
django-bootstrap4 = "*"
bcrypt = "*"
misaka = "*"
django-braces = "*"
bootstrap4 = "*"

[requires]
python_version = "3.8"
